In [1]:
import pandas as pd
import sys
sys.path.append('./utils')
from utils import *
from rank import *
import japanize_matplotlib
from process import * 
import tqdm

In [2]:
# データ保存先
data_folda = '../data/'

In [3]:
pseudo_time_series = pd.read_pickle(data_folda+'pseudo_time_series_with_master.pkl')

In [4]:
pseudo_time_series

,restaurant_id,original_id,closed_date,business_status,prefecture,base_date,closed_flg,target3,target6,eval_period,...,food_photo_count,drink_photo_count,interior_photo_count,exterior_photo_count,real_opened_date,openning_days,price_range_lunch_by_owner_num,price_range_dinner_by_owner_num,price_range_lunch_by_review_num,price_range_dinner_by_review_num
0,00000528-ea7b-4364-bb76-3d46fba520ef,22001886,NaT,掲載中,静岡県,2022-12-31,0,0,0,True,...,22.0,2.0,3.0,2.0,2007-02-26 00:00:00,5787 days 00:00:00,NaN,NaN,1,1
1,00000528-ea7b-4364-bb76-3d46fba520ef,22001886,NaT,掲載中,静岡県,2023-01-31,0,0,0,True,...,22.0,2.0,3.0,2.0,2007-02-26 00:00:00,5818 days 00:00:00,NaN,NaN,1,1
2,00000528-ea7b-4364-bb76-3d46fba520ef,22001886,NaT,掲載中,静岡県,2023-02-28,0,0,0,True,...,22.0,2.0,3.0,2.0,2007-02-26 00:00:00,5846 days 00:00:00,NaN,NaN,1,1
3,00000528-ea7b-4364-bb76-3d46fba520ef,22001886,NaT,掲載中,静岡県,2023-03-31,0,0,0,True,...,22.0,2.0,3.0,2.0,2007-02-26 00:00:00,5877 days 00:00:00,NaN,NaN,1,1
4,00000528-ea7b-4364-bb76-3d46fba520ef,22001886,NaT,掲載中,静岡県,2023-04-30,0,0,0,True,...,22.0,2.0,3.0,2.0,2007-02-26 00:00:00,5907 days 00:00:00,NaN,NaN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10503763,ffffdf7f-3a56-4a5f-baa0-409eab35888a,14039016,NaT,掲載中,神奈川県,2023-07-31,0,0,0,True,...,38.0,0.0,4.0,3.0,2011-01-12 23:59:46,4582 days 00:00:14,NaN,NaN,NaN,0
10503764,ffffdf7f-3a56-4a5f-baa0-409eab35888a,14039016,NaT,掲載中,神奈川県,2023-08-31,0,0,0,True,...,38.0,0.0,4.0,3.0,2011-01-12 23:59:46,4613 days 00:00:14,NaN,NaN,NaN,0
10503765,ffffdf7f-3a56-4a5f-baa0-409eab35888a,14039016,NaT,掲載中,神奈川県,2023-09-30,0,0,0,True,...,38.0,0.0,4.0,3.0,2011-01-12 23:59:46,4643 days 00:00:14,NaN,NaN,NaN,0
10503766,ffffdf7f-3a56-4a5f-baa0-409eab35888a,14039016,NaT,掲載中,神奈川県,2023-10-31,0,0,0,True,...,38.0,0.0,4.0,3.0,2011-01-12 23:59:46,4674 days 00:00:14,NaN,NaN,NaN,0
10503767,ffffdf7f-3a56-4a5f-baa0-409eab35888a,14039016,NaT,掲載中,神奈川県,2023-11-30,0,0,0,True,...,38.0,0.0,4.0,3.0,2011-01-12 23:59:46,4704 days 00:00:14,NaN,NaN,NaN,0

In [5]:
pseudo_time_series["price_range_dinner_by_owner_num"].dropna()

24          1
25          1
26          1
27          1
28          1
           ..
10503715    9
10503716    9
10503717    9
10503718    9
10503719    9
Name: price_range_dinner_by_owner_num, Length: 3007200, dtype: object

* V_GOOGLE の変数を追加

In [6]:
add_list=["restaurant_id","overview.aggregateRating","overview.reviewCount","general_rank"]

In [7]:
pd_sf = read_table(data_folda,"V_GOOGLE",columns="all",read_snowflake=False,col="*")

In [8]:
import rank
# general rank を与える
ranker=rank.Ranker()
pd_sf=ranker.add_general_rank(pd_sf)
r=pd_sf["general_rank"].value_counts().sort_index()
#S,A,B,L,F,N の順に value_countes を並べる
r=r.loc[["S","A","B","L","F","N"]]
display(r)
# cummulative sumを表示
display(pd.concat([r,r.cumsum()],axis=1))

/home/ec2-user/restaurant_scoring_ftdata/pg/./utils/rank.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["n_rank_count"] = df["telephone_rank"].isin(["N"]).astype(int) + df["address_rank"].isin(["N"]).astype(int) + df["name_rank"].isin(["N"]).astype(int)
/home/ec2-user/restaurant_scoring_ftdata/pg/./utils/rank.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["denominator"] = np.select(condition, choice, default=-1)
/home/ec2-user/restaurant_scoring_ftdata/pg/./utils/rank.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["tel_numerator"] = np.select(condition_tel, choice_tel, default=0) # rank N = 0
/home/ec2-user/restaurant_scoring_ftdata/pg/./utils/rank.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["add_numerator"] = np.select(condition_add, choice_add, default=0) # rank N = 0
/home/ec2-user/restaurant_scoring_ftdata/pg/./utils/rank.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["name_numerator"] = np.select(condition_name, choice_name, default=0) # rank N = 0
/home/ec2-user/restaurant_scoring_ftdata/pg/./utils/rank.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["general_numerator"] = df["tel_numerator"] + df["add_numerator"] + df["name_numerator"]
/home/ec2-user/restaurant_scoring_ftdata/pg/./utils/rank.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["division_result_value"] = df["general_numerator"] / df["denominator"]
/home/ec2-user/restaurant_scoring_ftdata/pg/./utils/rank.py:99: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["s_a_b_rank"] = np.select(condition_result, choice_result, default="?")

S    166765
A    380738
B     26439
L    281880
F      2346
N     11276
Name: general_rank, dtype: int64

   general_rank  general_rank
S        166765        166765
A        380738        547503
B         26439        573942
L        281880        855822
F          2346        858168
N         11276        869444

In [9]:
pseudo_time_series=pd.merge(pseudo_time_series,pd_sf[add_list],on="restaurant_id",how="left")

In [ ]:
pseudo_time_series.rename(columns={"general_rank":"general_rank_GOOGLE"},inplace=True)

In [ ]:
pseudo_time_series.to_pickle(data_folda+'pseudo_time_series_with_v_google.pkl')